%li.menu-item{:class => "#{'active' if current_page?(root_path)}"}
    = link_to "Homepage", root_path
%li.menu-item{:class => "#{'active' if current_page?(courses_path)}"}
    = link_to "Explore courses", courses_path
%li.menu-item{:class => "#{'active' if current_page?(static_pages_privacy_policy_path)}"}
    = link_to "Privacy Policy", static_pages_privacy_policy_path
%li.menu-item
    = link_to "Contacts", "!#"
