.container
    - if @activities.count > 0
        - @activities.each do |activity|
            %ul.border
                - if activity.trackable_type == "Lesson"
                    %li
                        = link_to "Go to Lesson", course_lesson_path(activity.trackable.course.id, activity.trackable.id )
                - elsif activity.trackable_type == "Course"
                    %li
                        = link_to "Go to Course", course_path(activity.trackable.id )
                - else activity.trackable_type == "Comment"
                    - if Comment.where(id: activity.trackable_id).any?
                        = link_to activity.trackable.content, course_lesson_path(activity.trackable.lesson.course, activity.trackable.lesson)
                    - else
                        Comment was deleted        
                %li
                    %b 
                        Trackable id
                    = activity.trackable_id
                %li
                    %b 
                        Trackable type
                    = model_label(activity.trackable_type)
                %li
                    %b 
                        Parameters
                    = activity.parameters
                %li
                    %b 
                        Activity key
                    = activity.key
                    = crud_label(activity.key.match(/\.(.*)/)[1])
                %li
                    %b 
                        Activity type
                    = activity.recipient_type
                %li 
                    %b 
                        User id
                    = activity.owner_id
                %li 
                    %b 
                        User
                    = activity.owner
                %li
                    %b 
                        Created at
                    = time_ago_in_words(activity.created_at)

                %li
                    %b 
                        Updated at
                    = activity.updated_at.strftime('%F')
    - else
        %p Nothing to see here
