.flex.flex-col.gap-4.mt-10{:id => "#{dom_id enrollment}"}
  .flex.flex-col
    %strong User:
    = enrollment.user_id

  .flex.flex-col
    %strong Course:
    = enrollment.course_id
  
  .flex.flex-col
    %strong Rating:
    - if enrollment.rating.nil? 
      N/A
      - if current_user && policy(enrollment).edit?
        = link_to 'Add rating', edit_enrollment_path(enrollment), class:"link"
    - else
      = enrollment.rating
      - if current_user && policy(enrollment).edit?
        = link_to 'Edit rating', edit_enrollment_path(enrollment), class:"link"
  
  .flex.flex-col
    %strong Review:
    - if enrollment.review.nil? 
      N/A
      - if current_user && policy(enrollment).edit?
        = link_to 'Add review', edit_enrollment_path(enrollment), class:"link"
    - else
      = enrollment.review
      - if current_user && policy(enrollment).edit?
        = link_to 'Edit review', edit_enrollment_path(enrollment), class:"link"
  
  .flex.flex-col
    %strong Enrolled at:
    = time_ago_in_words(enrollment.created_at)
  
  .flex.flex-col
    %strong 
      Price:
    = enrollment.price
  
  - if action_name != "show"
    = link_to "Show this enrollment", enrollment, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    = link_to 'Edit this enrollment', edit_enrollment_path(enrollment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"

