
.w-full.h-full.mx-auto.overflow-y-scroll.bg-cover.shadow-lg{
  class: "scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar-track:!bg-slate-100 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-300", 
  style: "background-image:url('#{@course.image.attached? ? rails_blob_url(@course.image) : '#'}'); background-position: center -80px;"}
  .h-full.mt-96
    .bg-white.p-4.sm:p-8.h-full
      .container.grid.mt-10{:class =>"grid-cols-[700px_1fr]"}
        .flex.flex-col.gap-2
          %h1
            = "Enroll to #{@course.title}"
          = link_to "View course", course_path(@course), class:"link"
          %h5
            Do you want to proceed with this course purchase?
          %p
            You still have a refund garanty but I am too lazy to over explain it so here's a lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa explicabo est a nisi saepe sit, id itaque nam animi ea repudiandae ipsum? Maxime at cupiditate fugiat voluptate, pariatur praesentium distinctio.
        .flex.flex-col.gap-2.items-end.justify-center.min-w-max
          .flex.flex-col.gap-2.items-center
            %h3
              = format_price(@course.price)
            
            /= render partial: 'enrollments/checkout_button', locals: { session: @checkout_session, title: "Pay now" }
            
            = button_to "Purchase now!", checkout_create_path({course: @course}), class: "primary-button",  data: { turbo_method: "post" }
            
            = link_to 'Back to enrollments', course_enrollments_path, class: "link"

