= simple_form_for([@course, @lesson]) do |f|
  = render "shared/error_messages", object: f.object
  = f.input :title
  = f.label :content
  = f.rich_text_area :content
  %small
    = f.error :content
  = f.button :submit
