.flex.flex-row.gap-4.border.border-gray-300.rounded-md.p-5.justify-between
  .flex.flex-row
    .flex.flex-col
      %b
        Title:
      = lesson.title
    .flex.flex-col
      %b
        Content:
      = lesson.content
    .flex.flex-col
      %b 
        Course:
      = lesson.course_id
  .flex.flex-row.gap-2
    - if policy(lesson).edit?
      = link_to 'Edit this lesson', edit_lesson_path(lesson), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
    - if policy(lesson).destroy?
      = link_to 'Destroy', lesson, data: {turbo_method: :delete}, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"

