.flex.flex-row.gap-4.border.border-gray-300.rounded-md
  .flex.flex-col
    %b
      Title:
    = lesson.title
  .flex.flex-col
    %b
      Content:
    = lesson.content
  .flex.flex-col
    %b 
      Course:
    = lesson.course_id
  - if action_name != "show"
    = link_to "Show this lesson", lesson, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    = link_to 'Edit this lesson', edit_lesson_path(lesson), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"

