= provide(:title, "Editing lesson #{@lesson.title.downcase}")

.container
  %h1.font-bold.text-4xl Editing lesson
  = render "form", lesson: @lesson
  = link_to "Show this lesson", course_lesson_path(@course, @lesson), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
  = link_to "Back to course", course_path(@lesson.course), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
