= provide(:title, "Create new lesson for #{@course.title.downcase}")

.breadcrumbs
  .container
    = link_to 'Courses', courses_path
    \/
    = link_to @course.title, course_path(@course)

.container
  %h1.font-bold.text-4xl New lesson
  = render "form"
  = link_to 'Back to course', course_path(@course), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
