= provide(:title, "Show lesson #{@lesson.title.downcase} from #{@course.title.downcase}")

.breadcrumbs
  .container
    = link_to 'Courses', courses_path
    \/
    = link_to @lesson.course.title, course_path(@lesson.course)
    \/
    = link_to @lesson.title, course_lesson_path(@course, @lesson)

.container
  .w-full.grid.gap-8{ class: "grid-cols-[700px_1fr]"}
    .flex.flex-col
      - if notice.present?
        %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
      = render @lesson

      .flex.flex-row.gap-4.mt-3
        - if policy(@lesson).edit?
          = link_to 'Edit this lesson', edit_course_lesson_path(@course, @lesson), class: "secondary-button"
        - if policy(@lesson).destroy?
          = link_to 'Destroy', [@course, @lesson], data: {turbo_method: :delete}, class: "secondary-button"

    .flex.flex-col.rounded-lg.border.border-gray-200.bg-white.p-5.gap-4
      .flex.flex-row.p-3.rounded-md.bg-gray-300
        = "Progress #{number_to_percentage(@course.progress(@course.user), { precision: 0 })}"
        = @lesson.user_lessons.where(user: current_user).first.impressions
      %ul.flex.flex-col.gap-4
        - @lessons.each do | lesson |
          - if lesson == @lesson
            %li.border.border-green-500.rounded-md
              = render "lessons/preview", lesson: lesson
          - else
            %li
              = render "lessons/preview", lesson: lesson
