.w-full.max-h-96.max-w-sm.border.border-gray-200.bg-white.rounded-lg.shadow-md.dark:bg-gray-800.dark:border-gray-700
  .flex.flex-col.p-5.justify-between.h-full
    .flex.flex-col.gap-3

      %span.bg-green-100.text-green-800.text-sm.font-medium.mr-2.px-2.5.py-0.5.rounded.dark:bg-green-900.dark:text-green-300.self-start
        = course.level

      %a.flex.flex-col.gap-1{href: course}
        %h3
          = course.title
        %p.line-clamp-3
          = course.description

      .flex.flex-row.gap-2
        = gravatar_for(course.user.email, size: 50, classes:"w-6 h-6 rounded-full border border-white")
        %p
          = course.user.email

      / TODO: Find way to integrate flags/countries
      %p.text-sm.tracking-tight.text-gray-900.dark:text-white 
        = course.language

    .flex.items-center.justify-between.w-full.border-t.border-gray-300.py-5
      %h3
        = "#{course.price}€"
      %a.primary-button{ href: "!#"} Purchase
      / = link_to 'Edit this course', edit_course_path(course), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
      / = link_to "Destroy course", course, data: {turbo_method: :delete}, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
