%div{:id => "#{dom_id course}"}
  %p.my-5
    %strong.block.font-medium.mb-1 Title:
    = course.title
  %p.my-5
    %strong.block.font-medium.mb-1 Description:
    = course.description
  - if action_name != "show"
    = link_to "Show this course", course, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    = link_to 'Edit this course', edit_course_path(course), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
    %hr.mt-6/
