= simple_form_for @course, local:true, data: { turbo: false } do |f|
  = render "shared/error_messages", object: f.object
  = f.input :image
  - if @course.image.attached?
    = image_tag @course.image, width: "200px"
  = f.input :title
  = f.input :description, as: :rich_text_area
  = f.input :short_description
  = f.select :tag_ids, Tag.all.pluck(:name, :id), {include_blank: true, multiple: true }, data: { controller: 'ts--select' }
  = f.input :language, collection: ["English", "Portuguese"]
  = f.input :level, collection: ["Beginner", "Intermediate", "Advanced"]
  = f.input :price
  = f.input :published
  = f.button :submit
