= provide(:title, "Editing #{@course.title.downcase} course")

.breadcrumbs
  .container
    = link_to 'Courses', courses_path
    \/
    = link_to @course.title, course_path(@course)

.container.flex.flex-col.gap-6.mt-10.mb-5
  .flex.flex-col.gap-2
    %h1.font-bold.text-4xl Editing course
    = link_to "â† Back to courses", courses_path, class: "link"
  
  = render "form", course: @course
