= provide(:title, "Course #{@course.title.downcase}")

.breadcrumbs
  .container
    = link_to 'Courses', courses_path
    \/
    = link_to @course.title, course_path(@course)

.container
  .mx-auto.w-full.flex.flex-col.gap-4
    = render @course

  .flex.flex-col.gap-4.mt-16
    - if policy(@course).publish?
      - if @course.published?
        = link_to 'Published', unpublish_course_path(@course), data: {turbo_method: :patch}, class: "secondary-button"
      - else
        = link_to 'Unpublished', publish_course_path(@course),data: {turbo_method: :patch}, class: "secondary-button"
    
    - if policy(@course).approve?
      - if @course.approved?
        = link_to 'Unapprove', unapprove_course_path(@course), data: {turbo_method: :patch}, class: "secondary-button"
      - else
        = link_to 'Approve', approve_course_path(@course), data: {turbo_method: :patch}, class: "secondary-button"

    - if policy(@course).edit?
      %button.primary-button{:type => "button"}
        %a{:href => new_course_lesson_path(@course, @lesson)} Add lesson


    .flex.flex-row.justify-between.my-5 
      %h3 
        = pluralize(@course.lessons_count, 'Lesson')
      = "Progress #{number_to_percentage(@course.progress(@course.user), {precision:0})}"

    - if @lessons.count > 0
      .mx-auto.w-full.flex.flex-col.gap-2.lesson-sortable
        - @lessons.each do | lesson |
          = render 'lessons/preview', lesson: lesson
    - else
      %h4 
        No lessons have been added yet...

  - Course.all.where.not(id: @course.id).each do |course|
    - unless @course.tags.pluck(:id).intersection(course.tags.pluck(:id)).count.zero?
      .flex.flex-col 
        %h4 Similar Courses
        .flex.flex-row.gap.4
          = render 'courses/course', course: course

  .flex.flex-col.gap-4.my-16
    - if @enrollments_with_review.count > 0
      .flex.flex-row.my-5 
        %h3 
          = pluralize(@enrollments_with_review.count, 'Enrollment')
      .mx-auto.w-full.flex.flex-col.gap-2
        = @enrollments_with_review.each do | enrollment |
          = render "enrollments/enrollment", enrollment: enrollment
    - else
      %h4 
        This course has no reviews

